---
// Fetch data in the frontmatter
const apiUrl = import.meta.env.API_URL || "http://localhost:4321";

const response = await fetch(`${apiUrl}/api/items`);
const apiData = await response.json();

type UserSchema = {
  name: string; // minLength: 1 enforced at runtime or via validation
  capital: string;
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Items List</title>
  </head>
  <body>
    <h1>Countries List</h1>
    <ul>
      <!-- Loop through items and display them -->
      {
        apiData.countries.map((item: UserSchema) => (
          <li>
            {item.name} 🚀 {item.capital}
          </li>
        ))
      }
    </ul>
  </body>
</html>
